
<title>设置我的资料</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>我的资料</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">设置我的资料</div>
        <div class="layui-card-body" pad15>
          <script type="text/html" template lay-url="{[ApiUrl "auth/userinfo?full=1"]}" lay-done="layui.use('set', layui.factory('set'))">
          <div class="layui-form" lay-filter="">
            <div class="layui-form-item">
              <label class="layui-form-label">我的角色</label>
              <div class="layui-input-inline">
                <select name="role" lay-verify="">
                  <option value="1" selected>超级管理员</option>
                  <option value="2" disabled>普通管理员</option>
                  <option value="3" disabled>审核员</option>
                  <option value="4" disabled>编辑人员</option>
                </select>
              </div>
              <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input type="text" name="username" value="{{ d.data.detail.username }}" readonly class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">不可修改 用于后台登入的账号</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">昵称</label>
              <div class="layui-input-inline">
                <input type="text" name="nickname" value="{{ d.data.detail.nickname }}" lay-verify="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">性别</label>
              <div class="layui-input-block">
                {{#
                  layui.each({'M': '男','W': '女','X': '保密'}, function(flag, name) {
                    var style = '';
                    if (d.data.detail.gender == flag) {
                      style = ' checked';
                    }
                }}
                <input type="radio" name="gender" value="{{ flag }}" title="{{ name }}" {{ style }} />
                {{# }) }}
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">手机</label>
              <div class="layui-input-inline">
                <input type="text" name="mobile" value="{{ d.data.detail.mobile }}" lay-verify="phone" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" name="email" value="{{ d.data.detail.email }}" lay-verify="email" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea name="remarks" placeholder="请输入内容" class="layui-textarea">{{ d.data.detail.intro }}</textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
              </div>
            </div>
          </div>
        </script>
        </div>
      </div>
    </div>
  </div>
</div>